@charset "utf-8";

:root {
    --bg-color: #e0e0e0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Kaisei Decol", serif;
    font-size: 1.6rem;
    background-color: var(--bg-color);

    text-align: center;

    width: 1200px;
}

.wrapper {
    border: 0.5rem solid;
    padding: 50px 100px;
}